.env
.env.*
!.env.example

*.local.*

/vendor/
/plugin/extension/myparcel/vendor/

node_modules/

.idea/
.vscode/
*.iml
*.swp

.DS_Store
Thumbs.db
._*

*.log
.phpunit.result.cache
.phpunit.cache/
*.bak
*.orig
*~

# Release build artifacts
/dist/
